# IntelliJ IDEA / Android Studio
/.idea/workspace.xml
/.idea/libraries

/captures

# Android & Java
*.apk
*.dex
*.class
*.jar

# OS files
Thumbs.db
Desktop.ini

.DS_Store

# Gradle
.gradle
/build
/local.properties
!gradle-wrapper.jar

# Librerias
!/app/libs/*.jar
